#dark {
    .yourProfile {
        &__redactBtn {
            background: url("../../../public/photos/dark-theme/edit.svg") 0 0 / 100% no-repeat;
        }
    }
}
#white {
    .yourProfile {
        &__redactBtn {
            background: url("../../../public/photos/white-theme/edit.svg") 0 0 / 100% no-repeat;
        }
    }
}

.yourProfile {
    &__redactBtn {
        width: 25px;
        height: 25px;
    }
    &__label {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__textInput {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

}