@charset "UTF-8";
body {
  color: #28282E;
  background-color: #D9D9D9;
  font-family: "Anybody", sans-serif;
  font-weight: 400;
}
body .header__top-link:first-child {
  background-image: url(../img/header/lighttheme/profile.svg);
}
body .header__top-link:nth-child(2) {
  background-image: url(../img/header/lighttheme/cart.svg);
}
body .header__top-link:nth-child(3) {
  background-image: url(../img/header/lighttheme/theme.svg);
}
body .header__link--open {
  background: url(../img/lighttheme/leftarrrow.svg) 0 0/100% no-repeat;
}
body .header__top-link:last-child {
  background-image: url(../img/header/lighttheme/about.svg);
}
body .header__top-navigationbts {
  background-color: #28282E;
}
body .header__top-closebtn {
  background-image: url(../img/header/lighttheme/minus.png);
}
body .header__top-closebtn::before {
  background-color: #D9D9D9;
}
body .header__top--open::before {
  background-color: #D9D9D9;
}
body .header__top-input {
  background-color: #28282E;
}
body .header__top-input::-webkit-input-placeholder {
  color: #D9D9D9;
}
body .header__top-input::-moz-placeholder {
  color: #D9D9D9;
}
body .header__top-input:-ms-input-placeholder {
  color: #D9D9D9;
}
body .header__top-input::-ms-input-placeholder {
  color: #D9D9D9;
}
body .header__top-input::placeholder {
  color: #D9D9D9;
}
body .header__top-category div {
  background: url(../img/header/lighttheme/Категории.svg);
}
body .header__imgblock::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: inset 0px -20px 10px -5px #D9D9D9;
          box-shadow: inset 0px -20px 10px -5px #D9D9D9;
  z-index: 1;
}
body .header__categorys {
  border-right: 1px solid #28282E;
  background: #D9D9D9;
}
body .header__category-li {
  background-color: #28282E;
}
body .header__category-link {
  color: #D9D9D9;
}
body .header__li-child {
  background-color: #28282E;
  color: #D9D9D9;
}
body .header__categorys--closebtn {
  background: url(../img/header/lighttheme/larrow.svg);
}
body .top-sellers__slider-img {
  background: url(../img/lighttheme/bigicon.svg);
}
body .top-sellers__btn-prev {
  background: url(../img/lighttheme/rarrow.svg) 0 0/100% no-repeat;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
body .top-sellers__btn-next {
  background: url(../img/lighttheme/rarrow.svg) 0 0/100% no-repeat;
}
body .reviews__grid-item {
  background-color: #28282E;
  color: #D9D9D9;
}
body .reviews__info-imgblock-img {
  background: url(../img/lighttheme/gridicon.svg) 0 0/100% no-repeat;
}
body .register {
  color: #D9D9D9;
}
body .register__block {
  -webkit-box-shadow: inset 0 0 20px 6px #D9D9D9;
          box-shadow: inset 0 0 20px 6px #D9D9D9;
  background: #28282E;
}
body .register__form {
  background: #D9D9D9;
}
body .register__form-label {
  color: #28282E;
}
body .register__form-label input {
  background: #28282E;
}
body .register__form-link {
  color: #28282E;
}
body .updates__btn div {
  background: url(../img/lighttheme/rarrow.svg);
}
body .updates__btn--next div {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
body .stuff__imgblock::before {
  -webkit-box-shadow: inset 0px -20px 10px -5px #D9D9D9;
          box-shadow: inset 0px -20px 10px -5px #D9D9D9;
}
body .stuff .about__imgblock::before {
  -webkit-box-shadow: inset 0px -20px 10px -5px #D9D9D9;
          box-shadow: inset 0px -20px 10px -5px #D9D9D9;
}
body .about__imgblock::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: inset 0px -20px 10px -5px #D9D9D9;
          box-shadow: inset 0px -20px 10px -5px #D9D9D9;
  z-index: 1;
}
body .header__top-filters div {
  background: url(../img/lighttheme/Фильтр\ СВЕТЛЫЙ.svg);
}
body .shop__filters-input, body .shop__filter-btn {
  border: 1px solid #28282E;
  background-color: #D9D9D9;
  color: #28282E;
}
body .shop__filters-input::-webkit-input-placeholder, body .shop__filter-btn::-webkit-input-placeholder {
  color: #28282E;
}
body .shop__filters-input::-moz-placeholder, body .shop__filter-btn::-moz-placeholder {
  color: #28282E;
}
body .shop__filters-input:-ms-input-placeholder, body .shop__filter-btn:-ms-input-placeholder {
  color: #28282E;
}
body .shop__filters-input::-ms-input-placeholder, body .shop__filter-btn::-ms-input-placeholder {
  color: #28282E;
}
body .shop__filters-input::placeholder, body .shop__filter-btn::placeholder {
  color: #28282E;
}
body .shop__filters-input:active, body .shop__filter-btn:active {
  background-color: #E69500;
  color: #D9D9D9;
}
body .shop__info-line {
  background-color: #D9D9D9;
}
body .shop__info-imgblock {
  background-color: #D9D9D9;
}
body .shop__info-img {
  background: url(../img/darktheme/iphonegrid.png) 0 0/100% no-repeat;
}
body .shop__info-btn:last-child {
  background-color: #D9D9D9;
  color: #28282E;
}
body .shop__info-li {
  background-color: #28282E;
}
body .shop__info {
  color: #D9D9D9;
}
body .shop__filter-inputs div {
  background-color: #28282E;
}