@charset "UTF-8";
body {
  background-color: #28282E;
  color: #D9D9D9;
}
body .header__imblock-pen {
  background: url(../img/darktheme/profile/Карандаш\ ТЁМНЫЙ.svg) 0 0/100% 100% no-repeat;
}
body .header__img {
  background: url(../img/lighttheme/bigicon.svg) 0 0/100% no-repeat;
}
body .header__img-label div {
  background: url(../img/darktheme/profile/Галочка\ ТЁМНАЯ.svg) transparent;
}
body .header__imgblock {
  background-color: #D9D9D9;
  color: #28282E;
}
body .header__info {
  background-color: #D9D9D9;
  color: #28282E;
}
body .header__info-eye {
  background: url(../img/darktheme/profile/Глаз\ ТЁМНЫЙ.svg) 0 0/100% no-repeat;
}
body .header__info-input::-webkit-input-placeholder {
  color: #28282E;
}
body .header__info-input::-moz-placeholder {
  color: #28282E;
}
body .header__info-input:-ms-input-placeholder {
  color: #28282E;
}
body .header__info-input::-ms-input-placeholder {
  color: #28282E;
}
body .header__info-input::placeholder {
  color: #28282E;
}
body .header__info-subtitle-inst {
  background: url(../img/darktheme/profile/Инстаграм\ ТЁМНЫЙ.svg);
}
body .header__info-subtitle-telegram {
  background: url(../img/darktheme/profile/Телеграм\ ТЁМНЫЙ\ 1.svg);
}
body .header__info-checkbox:checked::before {
  background: url(../img/darktheme/profile/Чекбокс.svg) 0 0/100% no-repeat;
}