@import "../../shared/utils/mixins.scss";

.registration {
    &__instruction {
        display: flex;
        flex-direction: column;
        width: 50%;
        :nth-child(4) {
            margin-bottom: 40px;
        }
        :nth-child(5) {
            margin-bottom: 40px;
        }
    }
    &__subtitle {
        @include subtitle;
        text-align: center;
        margin: 50px 0 20px 0;
    }
    &__text {
        margin-bottom: 15px;
    }
}