@import "_vars";

@mixin title {
    font-size: 84px;
    font-weight: 700;
    line-height: normal;
}

@mixin subtitle {
    font-size: 25px;
}

@mixin button {
    display: block;
    padding: 8px 25px;
    background-color: $bgorange;
    border-radius: 25px;
    font-family: 'Anton', sans-serif;
    text-align: center;
}
@mixin box-shadow-dark {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0px -20px 10px -5px $fontcolor;
        z-index: 1;
    }
}
@mixin box-shadow-light {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0px -20px 10px -5px $fontcolorblack;
        z-index: 1;
    }
}