@import "_vars";

body {
    background-color: $fontcolor;
    color: $fontcolorblack;

    .header {
        &__imgblock-name {}

        &__imblock-pen {
            background: url(../img/darktheme/profile/Карандаш\ ТЁМНЫЙ.svg) 0 0 / 100% 100% no-repeat;
        }

        &__img {
            background: url(../img/lighttheme/bigicon.svg) 0 0 / 100% no-repeat;
        }

        &__img-label div  {
            background: url(../img/darktheme/profile/Галочка\ ТЁМНАЯ.svg) transparent;
        }

        &__imgblock {
            background-color: $fontcolorblack;
            color: $fontcolor;
        }
        &__info {
            background-color: $fontcolorblack;
            color: $fontcolor;
        }
        &__info-eye {
            background: url(../img/darktheme/profile/Глаз\ ТЁМНЫЙ.svg) 0 0 /100% no-repeat;
        }
        &__info-input {
            &::placeholder {
                color: $fontcolor;
            }
        }
        &__info-subtitle-inst {
            background: url(../img/darktheme/profile/Инстаграм\ ТЁМНЫЙ.svg);
        }
        &__info-subtitle-telegram {
            background: url(../img/darktheme/profile/Телеграм\ ТЁМНЫЙ\ 1.svg);
        }
        &__info-checkbox:checked::before {
            background: url(../img/darktheme/profile/Чекбокс.svg) 0 0 / 100% no-repeat;
        }
    }
}