@import "@shared/utils/styles/mixins.scss";
@import "@shared/utils/styles/colours.scss";


.registration,
.enter {
    &__title {
        text-align: center;
        margin-bottom: 25px;
    }

    &__userLink {
        @include yellowButton;
        color: currentColor;
    }

    &__regblock {
        border-radius: 25px;
        display: flex;
        justify-content: center;
        padding: 50px;
    }
}