@import "@shared/utils/styles/colours.scss";
@import "@shared/utils/styles/mixins.scss";

#dark {
    .products {
        color: $dark;

        &__addToCart {
            background-color: $dark;
            color: $white;
        }

        &__imageWrapper {
            background-color: $dark;
        }

        &__product {
            background-color: $white;
        }

        &__line {
            background-color: $dark;
        }
    }
}

#white {
    .products {
        color: $white;

        &__addToCart {
            background-color: $white;
            color: $dark;
        }

        &__imageWrapper {
            background-color: $white;
        }

        &__product {
            background-color: $dark;
        }

        &__line {
            background-color: $white;
        }
    }
}