@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.burgertarget {


    &__info {
        display: flex;
        font-size: 18px;
        font-weight: 600;
        align-items: center;
    }

    &__infobtns {
        display: grid;
        color: currentColor;

        :nth-child(2) {
            justify-self: center;
        }
    }

    &__leftPanel {
        width: 100vw;
        display: none;

        @include media-breakpoint-down(sm) {
            display: flex;
        }
    }

    &__larrow {
        top: 30px;
        left: auto;
        right: 20px;
        position: absolute;
        width: 35px;
        height: 35px;
        transform: rotate(180deg);
    }

    &__usericon {
        width: 100px;
        height: 100px;
    }

    &__productsbtn {
        width: 35px;
        height: 35px;
    }

    &__btn {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: currentColor;
    }

    &__title {
        margin-right: 10px;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
    }
}

.burgertargetOpened {
    transform: translate(0);
}