@import "./colours.scss";
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import "./breakpoints.scss";
@mixin yellowButton {
    background-color: $yellow;
    padding: 5px 15px;
    border-radius: 15px;
    transition: all .5s;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: rgba(0, 0, 0, 0.632);
        border-radius: 15px;
        transition: all .5s ease;
    }

    &:hover {
        &:before {
            width: 100%;
        }

        padding: 10px 20px;
    }

    p {
        margin: 0;
    }
}

@mixin title {
    font-size: 104px;
    font-weight: 700;

    @include media-breakpoint-down(sm) {
        font-size: 52px;

    }
    @include media-breakpoint-down(msm) {
        font-size: 24px;
    }

    @include media-breakpoint-down(lg) {
        text-align: center;
    }
}

@mixin subtitle {
    font-size: 32px;
    @include media-breakpoint-down(sm) {
        font-size: 17px;
    }

    @include media-breakpoint-down(lg) {
        text-align: center;
    }
}

@mixin box-shadow-dark {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0px -55px 10px -5px $dark;
        z-index: 1;
    }
}

@mixin box-shadow-light {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0px -55px 10px -5px $white;
        z-index: 1;
    }
}