@font-face {
    font-family: "Anybody";
    src: url("../public/Anybody/Anybody-VariableFont_wdth\,wght.ttf") format("ttf");
}
@import "./shared/utils/colours.scss";

.main {
    font-size: 17px;
    font-family: "Anybody";
    font-weight: 400;
}

#light   {
    background-color: $white;
    color : $dark;
}

#dark   {
    background-color: $dark;
    color : $white;
}

header, footer, main {
    padding: 100px 0;
}

