::-webkit-scrollbar {
  width: 0;}

body {
  background-color: #D9D9D9;
}

div{
}

.meet-block{
  height: 697px;
  width: 1366px;
}

.desc-block{
  height: 697px;
  width: 1366px;
}
p {
  margin: 0;
}
.meet-block__minusbut{
  padding: 0px 0px 55px 108px;
  position: absolute;
}
.meet-block__num {
  color: #28282E;

  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 37px 229px 620px 967px;
  position: absolute;
}



.meet-block__img-block {
  width: 142.68px;
  height: 90px;
  flex-shrink: 0;
  border-radius: 37px 25px 150px 25px;
  background-color: #28282E;
  top: 30px;
  right: 39px;
  bottom: 577px;
  left: 1185px;
  position: fixed;
  z-index: 10;
  box-sizing: border-box;
}

.button {
  width: 35px;
  height: 35px;
  position: absolute;
}

.meet-block__action-buttons{
  padding: 8px 50px 2px 12px;
  position: absolute;
}


.meet-block__happy-guy {
  width: 896px;
  height: 697px;
  position: absolute;
  padding: 0px 0px 0px 468px;
  flex-shrink: 0;

}

.meet-block__botsh {
  height: 262.823px;
  width: 1169px;
  padding: 639px 0px 0px 195px;
  position: absolute;

}


.meet-block__meet-desctxt {
  color: #28282E;
  font-family: "Anybody";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 369.17px;
  height: 18px;
  flex-shrink: 0;
  padding: 392px 881px 287px 116px;
  position: absolute;
}

.meet-block__meet-txt {
  padding: 210px 499px 327px 109px;
  width: 757.578px;
  height: 160.581px;
  flex-shrink: 0;
  color: #28282E;
  font-family: "Anybody", sans-serif;
  font-size: 84px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  white-space: inherit;
}

.meet-block__yelbut {
  width: 101.218px;
  height: 30px;
  border-radius: 25px;
  background: #E69500;
  margin: 429px 1155px 238px 109px;
}

.meet-block_buttxt {
  margin: 0px;
  color: #28282E;

  font-family: "Anton", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.desc-block__girlshd{
  padding: 586px 272px 0px 0px;
  position: relative;
  z-index: 3;
}











.meet-block__aboutus-img {
  width: 30px;
  height: 30px;
}




.desc-block__descrition {
  position: absolute;
  width: 472.995px;
  height: 401.204px;
  flex-shrink: 0;
  color: #28282E;

  font-family: "Anybody";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  padding: 190.5px 108px 105.3px 785.01px;
}

.desc-block__happy-girlimg {
  padding: 0px 517px 0px 0px ;
  z-index: 3;
  position: absolute;
}

.comfort-block {
  width: 1366px;
  height: 697px;
}

.comfort-block__desc {
  z-index: 4;
  width: 472.995px;
  height: 440px;
  flex-shrink: 0;
  color:#28282E;

  font-family: "Anybody";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  padding: 168.35px 785.01px 88.35px 108px;
  margin-top: 0px;
  position: absolute;
}


.desc-block__quickbuyer {
  font-family: serif;
}

.comfort-block__heading {
  z-index: 4  ;
  width: 405.397px;
  height: 80.29px;
  flex-shrink: 0;
  color: #28282E;

  font-family: "Anybody";
  font-size: 84px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 88.35px 852.56px 0px 108px;
  margin: 0;
  position: absolute;
}
/* 
.comfort-block__shadow {
  width: 350px;
  height: 350px;
  border-radius: 350px;
  background: rgba(217, 217, 217, 0.15);

  filter: blur(125px);

  position: absolute;
} */

.comfort-block__imgmoonsun {
  width: 350px;
  height: 350px;
  position: absolute;
  padding: 174px 127px 174px 889px;

}










.stuff-block {
  width: 1366px;
  height: 697px;
  position: relative;
}

.stuff-block__iphone {
  position: absolute;
  padding: 99.39px 0px 25.42px 875px;
  z-index: -2px;

}

.stuff-block__heading {
  width: 585px;
  height: 169.5px;
  color: #28282E;
  font-family: "Anybody";
  font-size: 84px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 77.25px 673px 450.25px 108px;
  position: absolute;
}

.stuff-block__desc {
  color: #28282E;

  font-family: "Anybody";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  width: 472.995px;
  height: 373px;
  padding: 273.75px 785.01px 50.25px 108px;
  position: absolute;
}


.stuff-block__iphone-blur{
  padding: 614px 45px 0px 845px;
  position: absolute;
}

.stuff-block__iphone-blur2{
  padding: 162px 407px 3px 668px;
  position: absolute;
  z-index: 5;
  width: 291px;
  height: 532px;
}

.reliabledonate-block {
  width: 1366px;
  height: 697px;

}

.reliabledonate-block__heading {
  width: 719.801px;
  height: 169.5px;
  color: #28282E;
  font-family: "Anybody";
  font-size: 84px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 43.25px 538.2px 484.25px 108px;
  position: absolute;
}

.reliabledonate-block__desc {
  color: #28282E;
  font-family: " Anybody";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  width: 565px;
  height: 441px;
  flex-shrink: 0;
  padding: 212.75px 693px 43.25px 108px;
  position: absolute;
}

.reliabledonate-block__credit-card {
  padding: 0px 0px 0px 619px;
  height: 697px;
}

.top-sellers-block {
  width: 1366px;
  height: 697px;
  /* padding-top: 100vh; */
}

.top-sellers-block__heading {
  color: #28282E;
  font-family: "Anybody";
  font-size: 84px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 53px 403.5px 463px 411.5px;
  position: absolute;

}

.top-sellers-block__guy-icon {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  padding: 0px 25px 0px 25px;
  z-index: 2;

}

.top-sellers-block__sergey {
  width: 200px;
  height: 400px;
  padding: 224.87px 558px 72.13px 608px;
  position: absolute;
}

.top-sellers-block__profile-name {
  color: #28282E;
  font-family: "Anybody";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  padding: 0px 47.164px;
}

.top-sellers-block__years {
  color: #28282E;
  font-family: "Anybody";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.top-sellers-block__rating {
  color: #28282E;
  font-family: "Anybody";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.top-sellers-block__move-arrows {
  padding: 383.37px 413px 277.63px 413px;
  position: absolute;
}

.top-sellers-block__stas {
  width: 200px;
  height: 400px;
  padding: 224.87px 0px 72.13px 0px;
  position: absolute;
}


.top-sellers-block__masha {
  width: 200px;
  height: 400px;
  padding: 224.87px 0px 72.13px 1166px;
  position: absolute;
}

.top-sellers-block__blur1 {
  width: 303px;
  height: 502.74px;
  padding: 120px 1063px 74.26px 0px;
  position: absolute;
  z-index: 1;
}

.top-sellers-block__blur2 {
  width: 303px;
  height: 502.74px;
  padding: 120px 0px 74.26px 1063px;
  position: absolute;
  z-index: 1;
}

.reviews-block {
  width: 1366px;
  height: 697px;

}

.review {
  border-radius: 35px;
  background: #28282E;
  width: 350px;
  height: 150px;
  flex-shrink: 0;
  position: absolute;
}

.reviews-block__review-1 {
  margin: 139px 888px 408px 128px;
}

.reviews-block__review-2 {
  margin: 319px 888px 228px 128px;
}

.reviews-block__review-3 {
  margin: 499px 888px 48px 128px;
}

.reviews-block__review-4 {
  margin: 139px 508px 408px 508px;
}

.reviews-block__review-5 {
  margin: 319px 508px 228px 508px;
}

.reviews-block__review-6 {
  margin: 499px 508px 48px 508px;
}

.reviews-block__review-7 {
  margin: 139px 128px 408px 888px;
}

.reviews-block__review-8 {
  margin: 319px 128px 228px 888px;
}

.reviews-block__review-9 {
  margin: 499px 128px 48px 888px;
}


.reviews-block__profile-icon {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  padding: 10px 265px 80px 25px;
  position: absolute;
}

.reviews-block__nickname {
  color: #D9D9D9;
  font-family: " Anybody";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 22px 135px 110px 95px;
  position: absolute;
}

.reviews-block__rate {
  color: #D9D9D9;
  font-family: "Anybody";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 40px 222px 92px 95px;
  position: absolute;
}


.reviews-block__revdesc {
  width: 280px;
  color: #D9D9D9;
  font-family: "Anybody";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  padding: 75px 45px 23px 25px;
}

.reviews-block__heading {
  color: #28282E;
  font-family: " Anybody";
  font-size: 84px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 28px 208.5px 572px 188.5px;
  position: absolute;
}

.register-block {
  width: 1366px;
  height: 697px;
}

.register-block__main {
  width: 800px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #28282E;
  box-shadow: inset 0px 0px 20px 2px;
  margin: 149.48px 294.06px 47.52px 271.94px;
}

.register-block__input-box {
  width: 350px;
  height: 450px;
  border-radius: 50px;
  background: #D9D9D9;
  position: relative;
  top: 24px;
  margin: 24px 13.94px 26px 436.06px;
}

.register-block-emailhead {
  color: #28282E;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 30px 270px 399px 30px;
  position: absolute;
}

.register-block__emailinp {
  width: 280px;
  height: 31px;
  flex-shrink: 0;
  border-radius: 7.5px;
  background: #28282E;
  margin: 61px 40px 358px 30px;
  position: absolute;
  z-index: 10;
}

.register-block__passwordinp {
  width: 280px;
  height: 31px;
  flex-shrink: 0;
  border-radius: 7.5px;
  background: #28282E;
  margin: 149.5px 40px 269.5px 30px;
  position: absolute;
  z-index: 10;
}

.register-block-passwordhead {
  color: #28282E;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 118.5px 258px 310.5px 30px;
  position: absolute;
}


.register-block__password-submithead {
  color: #28282E;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 207px 156px 222px 30px;
  position: absolute;
  width: 175px;
}

.register-block__password-submit-inp {
  width: 280px;
  height: 31px;
  flex-shrink: 0;
  border-radius: 7.5px;
  background: #28282E;
  margin: 238px 40px 181px 30px;
  position: absolute;
  z-index: 10;
}

.register-block__but {
  width: 215px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #E69500;
  position: absolute;
  margin: 301.21px 64.71px 118.79px 70.29px;
  z-index: 10;
}

.register-block__undertxt {
  width: 150.469px;
  height: 34px;
  flex-shrink: 0;
  color: #28282E;
  font-family: "Anybody";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  padding: 345.72px 94.29px 70.28px 105.42px;
  position: absolute;
  /* 200% */
}

.register-block__link {
  color: #D9D9D9;
  font-family: "Anybody";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  position: absolute;
  padding: 391.82px 146.28px 25px 151.86px;
  /* 200% */
}

.register-block__instrtxt {
  width: 213px;
  height: 49.129px;
  flex-shrink: 0;
  color: #D9D9D9;
  font-family: "Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  padding: 74px 469.94px 376.87px 117.06px;
}

.register-block__txt1 {
  width: 280px;
  height: 38.956px;
  flex-shrink: 0;
  color: #D9D9D9;
  font-family: 'Inter';
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  padding: 135.65px 467.94px 325.39px 52.06px;
}

.register-block__txt2 {
  color: #D9D9D9;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 187.13px 400.94px 291.87px 52.06px;
  position: absolute;
}

.register-block__txt3 {
  width: 345.459px;
  color: #D9D9D9;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 220.65px 402.48px 258.35px 52.06px;
  position: absolute;
}

.register-block__txt4 {
  width: 343px;
  color: #D9D9D9;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 281.33px 404.94px 155.67px 52.06px;
  position: absolute;
}

.register-block__txt5 {
  width: 272px;
  height: 42px;
  flex-shrink: 0;
  color: #D9D9D9;
  font-family: " Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 384px 475.94px 74px 52.06px;
  position: absolute;
}

.foot-block {
  width: 1366px;
  height: 250px;
  flex-shrink: 0;
}

.foot-block__text-1 {
  color: #28282E;
  font-family: "Anybody";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 387.315px;
  padding: 145.22px 489.34px 84.78px 489.34px;
}

.foot-txt {
  color: #28282E;
  font-family: "Anybody";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  z-index: 10;

}

.foot-block__text-2 {
  padding: 86.78px 844px 143.22px 455px;
}

.foot-block__text-3 {
  padding: 86.78px 693px 143.22px 567px;
}

.foot-block__text-4 {
  padding: 86.78px 577px 143.22px 718px;
}

.foot-block__text-5 {
  padding: 86.78px 455px 143.22px 834px;
}