@import "@shared/utils/styles/colours.scss";

#white {
    .singleProduct {
        color: $white;

        &__imageWithName {
            border: 10px $white solid;
            color: $white;
        }

        &__image {
            border-radius: 15px;
            border: 10px $white solid;
        }

        &__Wrapper {
            background-color: $dark;
        }

        &__whiteDarkButton {
            background-color: $white;
            color: $dark;

            display: inline-block;
            font-size: 12px;

            &:before {
                display: none;
            }

            &:hover {
                padding: 5px 15px;
            }
        }

        &__Name {
            background-color: $dark;
        }

        &__characteristic {
            background-color: $white;
            color: $dark;
        }

        &__characteristicValue {
            border: 1px solid $dark;
        }

        &__additionalPhotosDefault,
        &__additionalPhotos {
            border: 3px solid $white;
            color: $white;

            background-color: #303079;
        }
    }
}

#dark {
    .singleProduct {
        color: $dark;

        &__characteristic {
            background-color: $dark;
            color: $white;
        }

        &__image {
            border-radius: 15px;
            border: 10px $dark solid;
        }

        &__imageWithName {
            border: 10px $dark solid;
            color: $white;
        }

        &__characteristicValue {
            border: 1px solid $white;
        }

        &__Wrapper {
            background-color: $white;
        }

        &__whiteDarkButton {
            background-color: $dark;
            color: $white;
            display: inline-block;
            font-size: 12px;
        }

        &__Name {
            background-color: $white;
            color: $dark;
        }

        &__additionalPhotosDefault,
        &__additionalPhotos {
            border: 3px solid $dark;
            color: $white;

            background-color: #56568b;
        }
    }
}